# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
toolbox

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Validated database
*.db
*.db-journal

# IDEs
.idea/
.vscode/
*.swp
.DS_Store

# Frontend
frontend/node_modules/
frontend/dist/

# OS specific
Thumbs.db
